<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock inventory</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/manufacturers">Manufacturers</a></li>
        <li><a href="/items">Manage your stock</a></li>
        <li><a href="/items/new">Add new items</a></li>
        <li><a href="/manufacturers/new">Add new manufacturer</a></li>
        <li><a href="/items/all">Stock view</a></li>
      </ul>
    </nav>

    <main>
    <%= yield %>
    </main>
  </body>
</html>
