<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stock inventory</title>

  </head>
  <body>
    <nav>
      <ul>
        <a href="/manufacturers"><input type="button" value="See all"></a>
        <a href="/manufacturers/new"><input type="button" value="Add new manufacturer"></a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
