<form method="post" action="/manufacturers/<%= @manufacturer.id %>">
  <div>
  <label for="Manufacturer-name-field"> Name:</label>
  <input
  type="text"
  name="name"
  id="Manufacturer-name-field"
  value="<%= @manufacturer.name %>"
  />
  </div>

  <div>
    <label for="email_address">Email</label>
    <input type="text" name="email_address" id="email_address" value="<%= @manufacturer.email_address %>"/>
  </div>

  <div>
    <input type="Submit" value="Save"/>
  </div>
