<% @manufacturers.each do |manufacturer| %>
<dl>
  <dt>Name:</dt>
  <dd><a href="/manufacturers/<%=manufacturer.id  %>">
    <%= manufacturer.name %>
  </a></dd>
  <dt>Email:</dt>
  <dd><%= manufacturer.email_address %></dd>
</dl>
<a href="/manufacturers/<%=manufacturer.id  %>">EDIT </a>
  <hr />

<% end %>
