<% @manufacturers.each do |manufacturer| %>
  <p>Name: <a href="/manufacturer/<%=manufacturer.id  %>"><%= manufacturer.name %></a></p>
  <p>Email address: <%= manufacturer.email_address %></p>

  <hr />
<% end %>
