<form method="post" action="/manufacturers">
  <div>
  <label for="Manufacturer-name-field"> Manufacturer name:</label>
  <input
  type="text"
  name="name"
  id="Manufacturer-name-field"
  />
  </div>
  <div>
    <label for="email_address">Email</label>
    <input type="text" name="email_address" id="email_address"/>
  </div>

  <div>
    <input type="Submit" value="Save"/>
  </div>
