<p>Name: <%= @manufacturer.name %></p>
<p>Email: <%= @manufacturer.email_address %></p>

<form method="post" action="/manufacturers/<%= @manufacturer.id %>/delete">
<input type="submit" value="Delete manufacturer"/>
</form>
