<form method="post" action="/items">

  <div>
  <label for="Item-name-field"> Item name:</label>
  <input
  type="text"
  name="name"
  id="Item-name-field"
  />
  </div>

<!-- <div>
  <label for="price">Price</label>
  <input type="number" name="price" id="price"/>
</div> -->

<div>
  <label for="manufacturer_name">Select manufacturer</label>
  <select name="manufacturer_id" id="manufacturer_name">
    <% @manufacturers.each do |manufacturer| %>
    <option value="<%= manufacturer.id  %>"><%= manufacturer.name %></option>
    <% end %>
  </select>
  <!-- CHANGE INPUT TO DROPDOWN OF ALL MANUFACTURERS - CHECK HARRY POTTER EXAMPLE -->
  <!-- <input type="text" name="manufacturer_id" id="manufacturer_name" /> <select name="house_id" id="house_select"> -->

</div>

<div>
  <label for="group_name">Select group</label>
  <!-- SAME HERE -->
  <select name="group_id" id="group_name">
    <% @groups.each do |group| %>
    <option value="<%= group.id  %>"><%= group.name %></option>
    <% end %>
  </select>
  <!-- <input type="text" name="group_id" id="group_name" /> -->
</div>

<div>
  <label for="price">Price</label>
  <input type="number" name="price" id="price" />
</div>

<div>
  <label for="sell_price">Sell price</label>
  <input type="number" name="sell_price" id="sell_price" />
</div>

<div>
  <label for="quantity">Quantity</label>
  <input type="number" name="quantity" id="quantity" />
</div>


<div>
  <input type="Submit" value="Save"/>
</div>
