<div>
  <br>
  <br>
<p>Would you like to delete?</p>
<br>
<p>Name: <%= @item.name %></p>
<p>Quantity: <%= @item.quantity %></p>
</div>

<form method="post" action="/items/<%= @item.id %>/delete">
<input type="submit" value="Delete item"/>
</form>
